<div class="vrt-teaser-section vrt-teaser-section--default ">
  <header class="vrt-teaser-section__header">
    {{>atoms-section-title}}
  </header>
  {{>molecules-homer}}
  {{>molecules-homer}}
  {{>molecules-homer}}
</div>
