$color-white: #fff;
$color-white-smoke: #f5f3f1;
$color-pampas: #ebe9e7;
$color-silver: #c2c0be;
$color-light-gray: #ada9a8;
$color-battleship-gray: #858382;
$color-black: #000;
$color-radical-red: #ff4060;
$color-pigment-green: #00984B; // used for E-roads traffic

// VRT NWS greys
$color-hint-of-red: #F8F8F9;
$color-anti-flash-white: #f1f2f4;
$color-ghost: #c7ccd4;
$color-cadet-blue: #abb1be;
$color-manatee: #9098a8;

// VRT blue palette
$color-light-steel-blue: #B7C5E4;
$color-malibu: #7acef3;
$color-curious-blue: #2396cd;
$color-bondi-blue: #0091aa;
$color-yale-blue: #145594;
$color-cloud-burst: #31414e;

// branding colors
$color-screamin-green: #5DFC71; // vrt nws
$color-blue-chill: #408889; // sporza

// video teaser colors
$color-anti-flash-white: #F1F2F4;
$color-tropical-blue: #b6c6e6;
$color-manatee: #9098a8;
$color-waikawa-gray: #5c7099;
$color-rhino: #293d66;
$color-midnight-express: #1c2a36;
$color-curious-blue: #2C97CB;
$color-blue-zodiac: #16284a;
