<a href="#" class="vrtnws-teaser-homer">
  {{>atoms-teaser-image:vrtnws-teaser-homer__image}}
  {{>atoms-tag:vrtnws-teaser-homer__tag}}
  {{>atoms-article-title:vrtnws-teaser-homer__article-title}}
  {{>molecules-timestamp:vrtnws-teaser-homer__timestamp}}
</a>
