<svg version="1.1"
     xmlns="http://www.w3.org/2000/svg" viewBox="0 0 120 76" class="vrtnws-icon-arrow">
  <polygon points="120 38 82 76 72 66 93 45 0 45 0 31 93 31 72 10 82 0 " fill="#16284a"/>
</svg>
