<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 120 120" class="{{ styleModifier }}">
  <g class="vrtnws-icon-clock">
    <circle class="vrtnws-icon-clock__face" stroke="#000000" fill="transparent" stroke-width="18" cx="50" cy="50" r="41"/>
    <line class="vrtnws-icon-clock__minutes" stroke="#000000" stroke-width="10" x1="50" y1="50" x2="50" y2="22" transform="rotate(90  50 50)"/>
    <line class="vrtnws-icon-clock__hours" stroke="#000000" stroke-width="10" x1="50" y1="50" x2="50" y2="27"/>
    <circle class="vrtnws-icon-clock__dot" cx="50" cy="50" r="5" fill="#000000"/>
  </g>
</svg>
