<svg version="1.1" xmlns="http://www.w3.org/2000/svg"
	 viewBox="0 0 120 120" xml:space="preserve" class="vrtnws-icon-search">
  <path d="M120.07,105.93,91.71,77.57A50,50,0,1,0,77.57,91.71l28.36,28.36ZM50,81A31,31,0,1,1,81,50,31,31,0,0,1,50,81Z" fill="#16284a"/>
</svg>
