* {
  box-sizing: border-box; }

html {
  text-size-adjust: 100%;
  overflow-x: hidden; }

body {
  font: 21px/1.2;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  overflow-x: hidden; }

h1,
h2,
h3,
h4,
h5,
p,
blockquote,
figure,
ol,
ul {
  margin: 0;
  padding: 0; }

main,
li {
  display: block; }

strong {
  font-weight: bold; }

a,
button {
  color: #1c2a36; }

a {
  text-decoration: none; }

button {
  font: inherit;
  overflow: visible;
  cursor: pointer;
  letter-spacing: inherit;
  border: 0;
  background: none;
  font-smoothing: inherit; }

img {
  max-width: 100%;
  height: auto;
  border: 0; }

.clearfix {
  clear: both; }

.vrtnws-timestamp__clock {
  width: 1em; }

.vrtnws-teaser-homer {
  text-decoration: none;
  color: #9098a8; }

/*# sourceMappingURL=style.css.map */
