<ul class="sg-colors">
  <li>
    <span class="sg-swatch" style="background: #5DFC71;"></span>
    <span class="sg-label">
			$color-screamin-green - VRTNWS <br />
			#5DFC71
		</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #408889;"></span>
    <span class="sg-label">
			$color-blue-chill - SPORZA <br />
			#408889
		</span>
  </li>
</ul>
