<ul class="sg-colors">
  <li>
    <span class="sg-swatch" style="background: #ffffff;"></span>
    <span class="sg-label">
            $color-white <br />
            #ffffff
        </span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #f5f3f1;"></span>
    <span class="sg-label">
			$color-white-smoke <br />
			#f5f3f1
		</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #ebe9e7;"></span>
    <span class="sg-label">
			$color-pampas <br />
			#ebe9e7
		</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #c2c0be;"></span>
    <span class="sg-label">
			$color-silver <br />
			#c2c0be
		</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #ada9a8;"></span>
    <span class="sg-label">
			$color-light-gray <br />
			#ada9a8
		</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #858382;"></span>
    <span class="sg-label">
			$color-battleship-gray <br />
			#858382
		</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #000;"></span>
    <span class="sg-label">
			$color-black <br />
			#000
		</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #ff4060;"></span>
    <span class="sg-label">
			$color-radical-red <br />
			#ff4060
		</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #00984B;"></span>
    <span class="sg-label">
			$color-pigment-green <br />
			#00984B
		</span>
  </li>
</ul>

<ul class="sg-colors">
  <li>
    <span class="sg-swatch" style="background: #F8F8F9;"></span>
    <span class="sg-label">
        $color-hint-of-red <br />
        #F8F8F9
      </span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #f1f2f4;"></span>
    <span class="sg-label">
        $color-anti-flash-white <br />
        #f1f2f4
      </span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #c7ccd4;"></span>
    <span class="sg-label">
        $color-ghost <br />
        #c7ccd4
      </span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #abb1be;"></span>
    <span class="sg-label">
        $color-cadet-blue <br />
        #abb1be
      </span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #9098a8;"></span>
    <span class="sg-label">
        $color-manatee <br />
        #9098a8
      </span>
  </li>
</ul>

<ul class="sg-colors">
  <li>
    <span class="sg-swatch" style="background: #B7C5E4;"></span>
    <span class="sg-label">
			$color-light-steel-blue <br />
			#B7C5E4
		</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #B7C5E4;"></span>
    <span class="sg-label">
			$color-malibu <br />
			#B7C5E4
		</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #7acef3;"></span>
    <span class="sg-label">
			$color-light-steel-blue <br />
			#7acef3
		</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #2396cd;"></span>
    <span class="sg-label">
			$color-curious-blue <br />
			#B7C5E4
		</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #0091aa;"></span>
    <span class="sg-label">
			$color-bondi-blue <br />
			#0091aa
		</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #145594;"></span>
    <span class="sg-label">
			$color-yale-blue <br />
			#145594
		</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #31414e;"></span>
    <span class="sg-label">
			$color-cloud-burst <br />
			#31414e
		</span>
  </li>
</ul>

<ul class="sg-colors">
  <li>
    <span class="sg-swatch" style="background: #b6c6e6;"></span>
    <span class="sg-label">
			$color-tropical-blue <br />
			#b6c6e6
		</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #5c7099;"></span>
    <span class="sg-label">
			$color-waikawa-gray <br />
			#5c7099
		</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #293d66;"></span>
    <span class="sg-label">
			$color-rhino <br />
			#293d66
		</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #1c2a36;"></span>
    <span class="sg-label">
			$color-midnight-express <br />
			#1c2a36
		</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #16284a;"></span>
    <span class="sg-label">
			$color-blue-zodiac <br />
			#16284a
		</span>
  </li>
</ul>
