<figure class="vrtnws-teaser-image {{ styleModifier }}">
  <img sizes="100vw" srcset="//images.vrt.be/width1280/2017/04/03/46913d70-183b-11e7-a993-00163edf48dd.jpg 1280w,//images.vrt.be/width960/2017/04/03/46913d70-183b-11e7-a993-00163edf48dd.jpg 960w,//images.vrt.be/width640/2017/04/03/46913d70-183b-11e7-a993-00163edf48dd.jpg 640w,//images.vrt.be/width320/2017/04/03/46913d70-183b-11e7-a993-00163edf48dd.jpg 320w,//images.vrt.be/width160/2017/04/03/46913d70-183b-11e7-a993-00163edf48dd.jpg 160w" alt="" class=" image--focal-mm" onerror="if(this.parentNode) { this.parentNode.classList.add('image--error');this.parentNode.classList.remove('image--loading'); }" onload="if(this.parentNode) { this.parentNode.classList.remove('image--loading'); }">
</figure>
